.authform
  %h2
    = I18n.t('devise.button.sign_up')
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.error_notification
    .form-inputs
      = f.input :name, required: true, class: 'form-control'
      = f.input :email, required: true, autofocus: true, class: 'form-control'
      .form-group
        = f.simple_fields_for :organization_account do |acc|
          = acc.label :organization_account
          = acc.select(:id, OrganizationAccount.pluck(:name, :id), {}, required: true, class: 'form-control')
      = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), class: 'form-control'
      = f.input :password_confirmation, required: true, class: 'form-control'
    .form-actions
      = f.button :submit, I18n.t('devise.button.sign_up'), :class => 'button right'
  = render "devise/shared/links"
