.li
  .well
    -if explanation.from_supplier?
      %b= "запрос от поставщика (№#{explanation.id})"
    -if explanation.from_customer?
      %b= "Ответ от заказчика (№#{explanation.id})"
    -if explanation.question_id != nil
      = " на запрос №#{explanation.question_id}"
    %br
    = explanation.message
    -# -if current_user.try(:admin?)
    .p.text-right
      = explanation.user.name
    .p.text-right.b
      = explanation.organization_profile.name_short_with_opf
