= simple_form_for [@demand, @demand.explanations.build] do |f|  #, :url => demand_explanations_path, method: :post
  = f.error_notification

  .form-inputs
    = f.input :message, label: button_message
    = f.input :user_id, as: :hidden, input_html: { value: user }
    = f.input :demand_id, as: :hidden, input_html: { value: demand }
    = f.input :organization_profile_id, as: :hidden, input_html: { value: organization_profile_id }
    = f.input :question_id, as: :hidden, input_html: { value: question_id }

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
-# - byebug
