%h1 Listing explanations

%table
  %thead
    %tr
      %th Message
      %th User
      %th Demand
      %th Organization profile
      %th
      %th
      %th

  %tbody
    - @explanations.each do |explanation|
      %tr
        %td= explanation.message
        %td= explanation.user
        %td= explanation.demand
        %td= explanation.organization_profile
        %td= link_to 'Show', explanation
        %td= link_to 'Edit', edit_explanation_path(explanation)
        %td= link_to 'Destroy', explanation, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Explanation', new_explanation_path
