.container
  %p#notice= notice
  %h3= "#{I18n.t('organization.profile.account')}: #{@organization_account.name}"
  %h4= "Have #{@users.count} users"
  -if @profiles.count > 0
    %h5= "#{I18n.t('organization.index')} @ #{@organization_account.name}"
    .table-responsive
      %table.table
        %thead
          %tr
            %th= t('organization.profile.name_short')
            %th= t('organization.profile.inn')
            %th= t('organization.profile.accreditation')
            %th
              Выбраный профиль
            %th= t('organization.profile.state_actuality_date')
            %th= t('organization.profile.state_registration_date')
            %th= t('organization.profile.state_liquidation_date')
            %th= t('organization.profile.org_type')
        %tbody
          = render @profiles
  -else
    .well
      = link_to t('organization.profile.new'), new_organization_profile_path
  -if policy(@organization_account).update?
    = link_to t('edit'), edit_organization_account_path(@organization_account)
    \|
  -if policy(@organization_account).index?
    = link_to t('organization.account.index'), organization_accounts_path
