Выбраные компетенции:
.well#choosed-compenences
  - @demand.competences.each do |competence|
    .btn-group{style: "box-sizing: border-box; padding: 10px;", id: "group_#{competence.id}"}
      .btn.btn-success.btn-sm{id: "delete_competence_#{competence.id}"}
        = icon('check', class: 'fa-lg')
      .btn.btn-default.btn-sm{id: "competence_#{competence.id}"}
        = competence.tag
        %span.badge{:id => "org_count_#{competence.id}"}= competence.organization_profiles.count

Другие компетенции:
.well#not-choosed-compenences
  - @competences.each do |competence|

    .btn-group{style: "box-sizing: border-box; padding: 10px;", id: "group_#{competence.id}"}
      .btn.btn-info.btn-sm{id: "add_competence_#{competence.id}"}
        = icon('plus', class: 'fa-lg')
      .btn.btn-default.btn-sm{id: "competence_#{competence.id}"}
        = competence.tag
        %span.badge{:id => "org_count_#{competence.id}"}= competence.organization_profiles.count
