Выбранные критерии:
.well#choosed-criterions
  - @demand.criterions.each do |criterion|
    .btn-group{style: "box-sizing: border-box; padding: 10px;", id: "criterion_group_#{criterion.id}"}
      .btn.btn-success.btn-sm{id: "delete_criterion_#{criterion.id}"}
        = icon('check', class: 'fa-lg')
      .btn.btn-default.btn-sm{id: "criterion_#{criterion.id}", 'data-toggle' => "popover", 'title' => "Заголовок панели", 'data-content' => "Текст панели"}
        = criterion.name
        %span.badge{:id => "sub_count_#{criterion.id}"}= criterion.sub_criterions.count


Возможные критерии:
.well#not-choosed-criterions
  - @criterions.each do |criterion|

    .btn-group{style: "box-sizing: border-box; padding: 10px;", id: "criterion_group_#{criterion.id}"}
      .btn.btn-info.btn-sm{id: "add_criterion_#{criterion.id}"}
        = icon('plus', class: 'fa-lg')
      .btn.btn-default.btn-sm{id: "criterion_#{criterion.id}", 'data-toggle' => "popover", 'title' => "Заголовок панели", 'data-content' => "Текст панели"}
        = criterion.name
        %span.badge{:id => "sub_count_#{criterion.id}"}= criterion.sub_criterions.count
