- crit.sub_criterions.each do |criterion|

  .btn-group{style: "box-sizing: border-box; padding: 4px;", id: "sub_criterion_group_#{criterion.id}"}
    -if @demand.criterions.include?(criterion)
      .btn.btn-success.btn-sm.btn-space{id: "delete_sub_criterion_#{criterion.id}"}
        = icon('check', class: 'fa-lg', id: "delete_sub_criterion_#{criterion.id}")
    -else
      .btn.btn-info.btn-sm.btn-space{id: "add_sub_criterion_#{criterion.id}"}
        = icon('plus', class: 'fa-lg', id: "add_sub_criterion_#{criterion.id}")
    .btn.btn-default{id: "sub_criterion_#{criterion.id}"}
      = criterion.name
      -# %span.badge{:id => "sub_count_#{criterion.id}"}= criterion.sub_criterions.count

= link_to "Добавить подкритерий", new_criterion_path(master_criterion_id: crit.id, demand_id: @demand.id), class: "btn btn-sm btn-info", data: { modal: true }
