.container
  %h1 Потребности
  .table-responsive
    %table.table
      %thead
        %tr
          %th Кратко
          %th Организация
          %th Разъяснения
          %th
          %th

      %tbody
        - @demands.each do |demand|
          %tr
            %td= link_to demand.name, demand
            %td= demand.organization_profile.name_short_with_opf
            %td= demand.explanations.count
            -if policy(demand).update?
              %td= link_to 'Edit', edit_demand_path(demand)
            -if policy(demand).destroy?
              %td= link_to 'Destroy', demand, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  -if policy(@demands).new?
    = link_to 'New Demand', new_demand_path
