.container
  %p#notice= notice
  .row
    .col-md-6
      %h3
        = @demand.name
      .p.text-right
        = @demand.organization_profile.name_short_with_opf
      .well
        = @demand.description

      -if policy(@demand).edit?
        = link_to 'Edit', edit_demand_path(@demand)
        \|
      -if policy(@demand).index?
        = link_to 'Back', demands_path
    .col-md-6
      .h3 Запросы разъяснений
      .ul#explanations-list
        -if policy(@demand.explanations).index?
          = render @demand.explanations
        -else
          Что бы просмотреть запросы разъяснений,
          =link_to 'авторизуйтесь', login_path
        -if policy(@demand).create_explanations?
          = render template: '/explanations/_form', locals: {demand: @demand, organization_profile_id: @demand.organization_profile.id, user: current_user.id}
        -else
          .well Запрос разъяснений могут сформировать поставщики.
