%tr{:class => ("info" if organization_profile == current_user.active_profile)}
  %td{:align => "center;"}
    -if organization_profile.accreditated?
      -if current_user.active_profile == organization_profile
        =icon('check-square', class: 'fa-lg')
      -else
        = link_to user_path(current_user, user: {active_profile_id: organization_profile.id}), |
            method: :put do
          =icon('square-o', class: 'fa-lg')
    -else
      =icon('exclamation-circle', class: 'fa-lg')
  %td= link_to organization_profile.name_short_with_opf, organization_profile

  -if organization_profile.state_status == 'ACTIVE'
    %td= link_to organization_profile.inn, organization_profile, :class => 'btn btn-success  btn-xs'
  -if organization_profile.state_status == 'LIQUIDATING'
    %td= link_to organization_profile.inn, organization_profile, :class => 'btn btn-warning  btn-xs'
  -if organization_profile.state_status == 'LIQUIDATED'
    %td= link_to organization_profile.inn, organization_profile, :class => 'btn btn-danger  btn-xs'

  %td
    -if organization_profile.accreditated?
      -if organization_profile.accreditation.supplier?
        %span.btn.btn-info.btn-xs= "Поставщик"
      -if organization_profile.accreditation.customer?
        %span.btn.btn-success.btn-xs= "Заказчик"
      -if organization_profile.accreditation.partner?
        %span.btn.btn-primary.btn-xs= "Партнер"
    -else
      =link_to "не аккредитован", accreditation_build_path(id: 'step1', |
                accreditation_id: organization_profile.accreditation.id), |
                :class => "btn btn-danger btn-xs"
  %td= organization_profile.state_actuality_date.strftime(I18n.t('date.formats.default'))

  %td= organization_profile.state_registration_date.strftime(I18n.t('date.formats.default'))

  -# -if organization_profile.state_liquidation_date != nil
  -#   %td= organization_profile.state_liquidation_date.strftime(I18n.t('date.formats.default'))
  -# -else
  -#   %td= ' - '
  %td= organization_profile.org_type
  -# -if policy_scope(organization_profile).edit?
  -if policy(organization_profile).update?
    %td= link_to 'Edit', edit_organization_profile_path(organization_profile), :class => "btn btn-warning btn-xs"
  -# -if policy_scope(organization_profile).destroy?
  -if policy(organization_profile).destroy?
    %td= link_to 'Destroy', organization_profile, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger  btn-xs"
