%h3= I18n.t('organization.index')

.container
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th= I18n.t('organization.profile.name_short')
          %th= I18n.t('organization.profile.inn')
          %th= I18n.t('organization.profile.account')
          %th= I18n.t('organization.profile.state_actuality_date')
          %th= I18n.t('organization.profile.state_registration_date')
          %th= I18n.t('organization.profile.state_liquidation_date')
          %th= I18n.t('organization.profile.org_type')


      %tbody
        - policy_scope(@organization_profiles).each do |organization_profile|
          %tr
            %td= link_to organization_profile.name_short_with_opf, organization_profile
            -if organization_profile.state_status == 'ACTIVE'
              %td= link_to organization_profile.inn, organization_profile, :class => 'btn btn-success  btn-xs'
            -if organization_profile.state_status == 'LIQUIDATING'
              %td= link_to organization_profile.inn, organization_profile, :class => 'btn btn-warning  btn-xs'
            -if organization_profile.state_status == 'LIQUIDATED'
              %td= link_to organization_profile.inn, organization_profile, :class => 'btn btn-danger  btn-xs'
            %td= link_to organization_profile.organization_account.name, organization_profile.organization_account
            %td= organization_profile.state_actuality_date.strftime(I18n.t('date.formats.default'))
            %td= organization_profile.state_registration_date.strftime(I18n.t('date.formats.default'))
            -if organization_profile.state_liquidation_date != nil
              %td= organization_profile.state_liquidation_date.strftime(I18n.t('date.formats.default'))
            -else
              %td= ' - '
            %td= organization_profile.org_type
            -# -if policy_scope(organization_profile).edit?
            %td= link_to 'Edit', edit_organization_profile_path(organization_profile), :class => "btn btn-warning btn-xs"
            -# -if policy_scope(organization_profile).destroy?
            %td= link_to 'Destroy', organization_profile, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-danger  btn-xs"

%br

= link_to 'New Organization profile', new_organization_profile_path
