.container

  .well
    = link_to "New Competence", new_competence_path, remote: true, class: "btn btn-primary"

  .new-competence

  .row
    - @competences.each do |competence|
      .btn-group{style: "box-sizing: border-box; padding: 10px;", id: "group_#{competence.id}"}
        -# = render partial: "proof", locals: {comp: competence}
        - proof = current_user.active_profile.have_competence?(competence)
        - if proof != nil
          - if proof.state == "wonnabe"
            = render partial: "shared/proof_wonnabe", locals: {comp: competence}
          - elsif proof.state == "approved"
            = render partial: "shared/proof_approved", locals: {comp: competence}
          - else
            = render partial: "shared/proof_danger", locals: {comp: competence}
        - else
          .btn.btn-info.btn-sm{id: "proof_form_#{competence.id}"}
            = icon('plus', class: 'fa-lg')
          :coffee
            $("#proof_form_#{competence.id}").click (e) ->
              e.preventDefault()
              console.log 'click detected'
              $.ajax
                url: "#{proofs_path}"
                type: "POST"
                data: { proof: {competence_id: "#{competence.id}"} }
                success: ->
                  console.log 'success'
                  $("#group_#{competence.id}").html("#{escape_javascript(render partial: 'shared/new_proof', locals: {comp: competence})}")

                  return
              return
        .btn.btn-default.btn-sm{id: "competence_#{competence.id}"}
          = competence.tag
          %span.badge{:id => "org_count_#{competence.id}"}= competence.organization_profiles.count

  #competence-modal.modal.fade
