%footer.footer
  .container
    .table-responsive
      %table.table
        %tbody
          %tr
            %td
              .h4
                = Time.now.year
                = icon('copyright')
                = link_to t('home'), root_path
            %td
              .h4
                = icon('phone-square')
                8 (800) 775-62-17
            %td
              .h4
                = icon('envelope')
                %a{:href => "mailto:#"} info@24tender.ru
