- if user_signed_in?
  %li= link_to current_user.email, user_path(id: current_user.id)
  %li= link_to t("devise.button.sign_out"), destroy_user_session_path, :method=>'delete'
- else
  %li= link_to t("devise.button.sign_in"), new_user_session_path
  %li= link_to t("devise.button.sign_up"), new_user_registration_path
- if user_signed_in?
  - if current_user.try(:admin?)
    %li= link_to t("users"), users_path
