- if user_signed_in?
  %li
    -if current_user.active_profile != nil
      = link_to current_user.active_profile.name_short_with_opf, organization_account_path(current_user.organization_account_id)
      %li= render 'layouts/notification'
      %li= link_to "Потребности", demands_path
    -else
      =link_to organization_account_path(current_user.organization_account_id), |
               :class => "btn btn-warning btn-xs" do
        Выберите активный профиль!
        %span.btn.btn-success.btn-xs
          %span.glyphicon.glyphicon-play
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      =current_user.name
      |
      =current_user.role.capitalize
      %span.caret
    %ul.dropdown-menu{:role => "menu"}
      - if current_user.try(:admin?)
        %li= link_to t("users"), users_path
        %li= link_to t('organization.account.index'), organization_accounts_path
      %li= link_to current_user.email, edit_user_registration_path
      %li= link_to current_user.name, user_path(id: current_user.id)
      %li.divider
      -if current_user.organization_account != nil
        %li= link_to current_user.organization_account.name, organization_account_path(current_user.organization_account_id)
      -else
        NIL ACCOUNT! ERROR!
      %li.divider
      %li
        = link_to t("devise.button.sign_out"), destroy_user_session_path, :method=>'delete'
- else
  %li= link_to t("devise.button.sign_in"), new_user_session_path
  %li= link_to t("devise.button.sign_up"), new_user_registration_path
