- if user_signed_in?
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      =current_user.name
      |
      =current_user.role.capitalize
      %span.caret
    %ul.dropdown-menu{:role => "menu"}
      - if current_user.try(:admin?)
        %li= link_to t("users"), users_path
        %li= link_to t('organization.account.index'), organization_accounts_path
      %li= link_to current_user.email, edit_user_registration_path
      %li= link_to current_user.name, user_path(id: current_user.id)
      %li.divider
      %li= link_to current_user.organization_account.name, organization_profiles_path
      %li.divider
      %li
        = link_to t("devise.button.sign_out"), destroy_user_session_path, :method=>'delete'
- else
  %li= link_to t("devise.button.sign_in"), new_user_session_path
  %li= link_to t("devise.button.sign_up"), new_user_registration_path
